RewriteEngine On
RewriteRule ^$																	index.php
RewriteRule ^v([0-9])/?$														index.php?v=$1&cmd=gibberish
RewriteRule ^v([0-9])/([a-zA-Z0-9-]*)/?$										index.php?v=$1&cmd=$2
RewriteRule ^v([0-9])/([a-zA-Z0-9-]*)/([0-9a-zA-Z]{1,5})/?$						index.php?v=$1&cmd=$2&val=$3
RewriteRule ^v([0-9])/([a-zA-Z0-9-]*)/([0-9a-f]{6,40})/?$						index.php?v=$1&cmd=$2&secret=$3
RewriteRule ^v([0-9])/([a-zA-Z0-9-]*)/([0-9a-f]{6,40})/([0-9a-zA-Z]{1,5})/?$	index.php?v=$1&cmd=$2&secret=$3&val=$4
