ErrorDocument 404 "Page not found. To contact the admin, see lgms.nl or use github.com/lgommans/dro.pm/issues"

RewriteEngine On
RewriteRule ^$ frontpage.htm [END]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z0-9A-Z]{1,250})(\.([a-zA-Z0-9.]{0,10}))?/?$ gotoUrl.php?shortcode=$1&ext=$3 [END]
RewriteRule ^([a-z0-9A-Z]{1,250})(\.([a-zA-Z0-9.]{0,10}))?/(preview|view)$ gotoUrl.php?shortcode=$1&ext=$3&preview [END]
RewriteRule ^([a-z0-9A-Z]{1,250})(\.([a-zA-Z0-9.]{0,10}))?/(download|dl|d)$ gotoUrl.php?shortcode=$1&ext=$3&download [END]

